
#The 'sengrid' package
#sengrid
sendgrid==6.6.0

#Python 'dotenv' package for creating .env files to store the values of environment variables
python-dotenv


#gspread and oauth2client for google sheet integration
gspread 
oauth2client

