
#The 'sengrid' package
#sengrid
sendgrid==6.6.0

#Python 'dotenv' package for creating .env files to store the values of environment variables
python-dotenv


#gspread==3.6.0 oauth2client==4.1.3
gspread 
oauth2client

